<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title  th:replace="fragments/fragment :: headerFragment (title='Home')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<body>
	
		<h1>Sistem Informasi Kepegawaian</h1>
		<h3>Selamat datang di Sistem Informasi Kepegawaian</h3>
		<br>
		<h2>Lihat data kepegawaian berdasarkan NIP</h2>
		
		<form th:action="@{/pegawai}" method="GET">
			Masukkan Nomor Induk Kepegawaian <br>
			<input type="text" name="pegawaiNip"/> <br>
			<button type="submit">Lihat</button>
		</form>
		<br>
		<form th:action="@{/jabatan/view}" method="GET">
			Lihat Detail Jabatan
			
			<select type="text" name="idJabatan" class="form-control">
				<option>pilih jabatan</option>
				
				<option th:each="jabatan:${listJabatan}" 
				th:value="${jabatan.id}"
				th:text="${jabatan.nama}"></option>
			</select>
			
			<button type="submit">Lihat</button>
		</form>
		
		<a th:href="@{/}">Home</a>
		<a th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
	</body>
</html>